* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

#navbar__logo {
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;

  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;

}
.right{
  margin-right: 10px;
}
.margin{
  margin: 0 -40px;
}
.user{
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 28px 0;
  margin: 0 15px;
  color: #4950C3;
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.logout{
  border-radius: 10px;
  margin-right: 10px;
}

.button{
  border-radius: 50%;
}
.button:hover, .logout:hover{
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logout,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  height: 100%;
  padding: 15px 15px;
  width: 100%;
  border: none;
  outline: none;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  transition: all 0.3s ease;
}
.navbar__links:hover {
  color: #FC466B;
  transition: all 0.3s ease;
}
.card{
  margin: auto;
  border: 3px solid #4950C3;
}
h2{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.card-deck{
  margin: auto;
  margin-top: 50px;
}
.card{
  background: white;
  width: 500px;
  height: 200px ;
  padding-left: 0;
  padding-right: 0;
  border-radius: 18px;
  margin: 120px 30px;
  transition: 0.5s ease;
  cursor: pointer;
}
.card-text{
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgb(0,0,0);
}
.card {
  background: white;
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
  /* i chooooose this */
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border: 5px solid grey ;
  border-left: 8px solid #1976d2;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card{
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px grey,
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.card{
  border: 5px solid #1976d2 ;
}
.card-footer{
  color: #553620;
  font-size: 15px;
  font-weight: 300;
}
body{
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
