<div class="container-fluid">
<div class="row">
<div class="card col-md-6">
  <div class="card-footer" id="n1">LISTE TYPE OPERATIONS :</div>
  <div class="card-body">
    <table class="table table-hover table-striped" id="n2" >
      <thead>
      <th>Libelle</th>
      <th>Description</th>
      <th>Fraix Comptable</th>
      <th>Fraix Fix</th>
      <th>Etapes</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let t of listtypeopeartion; index as i">
        <td>{{t.libelle}}</td>
        <td>{{t.description}}</td>
        <td>{{t.fraixcomptabletotal}}</td>
        <td>{{t.fraixfixtotal}}</td>
        <td>
          <button class="btn btn-outline-dark btn-block" (click)="trouveretapes(t)"><i class="fa fa-eye"></i></button>
        </td>
        <td>
          <span (click)="delete2(i,t.libelle)"><i class="fa fa-trash btn btn-danger"></i></span>
          <span><i class="fa fa-edit btn btn-info"></i></span>
        </td>
      </tr>
      </tbody>


    </table>
  </div>
</div>
</div>
</div>


