<nav class="blend">
  <ul>
    <li role="presentation" class="active"><a routerLink="/secondcomp" routerLinkActive="active">Home</a></li>
    <li role="presentation" class="active"><a routerLink="createoperation" routerLinkActive="active" >Créer une Operation</a></li>
    <li role="presentation" class="active"><a routerLink="createtypeoperation" routerLinkActive="active">Créer un Type</a></li>
    <li role="presentation" class="active"><a routerLink="lISTtypeoperation" routerLinkActive="active">Liste des Types</a></li>
    <li role="presentation" class="active"><a routerLink="paiment-create" routerLinkActive="active">Créer Paiement</a></li>
    <li role="presentation" class="active"><a routerLink="paiment-list" routerLinkActive="active">List des Operations</a></li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
