<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZS Events uper - Creative & Minimal Agency</title>
  <link rel="shortout icon" type="image/x-icon" href="https://i.ibb.co/mJJ4qJS/zs-Logo1-removebg-preview.png"/>

  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
  <div class="container">
    <a href="#home"><img src="assets/img/zs-Logo1.png" class="logo" alt="logo"></a>
    <div class="links">
      <ul>
        <li><a href="#about" class="navbar__links" >A propos</a></li>
        <li><a href="#Services" class="navbar__links" >Sérvices</a></li>
        <li><a href="#contact" class="navbar__links" >Contact</a></li>
        <a><button routerLink="login" class="login">Login</button></a>
      </ul>
    </div>
  </div>
</div>
<!--Landing Page-->
<div class="landing" id="home">
  <div class="intro">
    <h1>Bonjour</h1>
    <p>Nous sommes ZS Events - Agence Super Créative & Minimale</p>
    <a ><button routerLink="login" class="login">  Login / Sign Up  </button></a>

  </div>
</div>
<!--About section-->
<div class="about" id="about">
  <div class="container">
    <br>
    <h2 class="special">A propos</h2>
    <div class="about-content">
      <div class="image  ">
        <img width="400px" class="mt-2" height="400px" src="assets/img/about.jpeg" alt="erreurn">
      </div>
      <div class="text">
      <p>ZS Event est une société marocaine, spécialisée dans le développement dans le domaine d’informatique, y compris l’hébergement Web, la création de sites Internet, le référencement, la conception d'interfaces, la réalisation d'animations en flash, le développement d'applications personnalisées et la maintenance informatique. Son siège se trouve à Marrakech.</p>
        <hr>
  <p>La société représente un groupe de professionnels en informatique ingénieurs, techniciens spécialisés, analystes programmeurs et Webmasters avec une expérience de plus de 1an dans ce domaine. La mission de la société est d’accompagner ses clients depuis l’identification des besoins jusqu'à la mise en œuvre et l'intégration de la solution quelques soit ces besoins : Hébergement, Logiciels, installation de réseau, formations, et quelques soit l’activité du client : Entreprise commerciale, hôtel, pharmacie, cabinet comptable, travaux publiques, ... Toutes les solutions informatiques de la société sont évolutives selon les besoins et sont régulièrement mis à jour.</p>
      </div>
    </div>
  </div>
</div>
<!--Services section-->
<div class="services" id="Services">

  <div class="container">
    <br>    <br>
    <h2 class="special">Sérvices</h2>
    <div class="service-content grid-3">
      <div class="col">
        <div class="service">
          <img src="https://img.icons8.com/nolan/24/administrative-tools.png" class="img"/>
          <div class="text">
            <h3>La création de sites Internet</h3>
            <p>Notre socièté vous offre la possibilité d'avoir des sites web compatibles avec les supports mobiles.</p>
          </div>
        </div>
        <div class="service">
          <img src="https://img.icons8.com/android/32/4a90e2/services.png" class="img"/>
          <div class="text">
            <h3>La conception d'interfaces</h3>
            <p>Nous offrons la possibilité de créer des parcours performants répondent aux principes ergonomiques de base et adoptent la logique des utilisateurs ciblés</p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="service">
          <img src="https://img.icons8.com/windows/24/4a90e2/tips-2.png" class="img"/>
          <div class="text">
            <h3>la réalisation d'animations en flash</h3>
            <p>Nous offrons le service de la création des animations interactivs à l'aide du logiciel Adobe Flash .</p>

          </div>
        </div>
        <div class="service">
          <img class="img " src="https://img.icons8.com/material-rounded/24/4a90e2/service.png"/>
          <div class="text">
            <h3>le développement d'applications WEB</h3>
            <p>Notre socièté vous offre la possibilité de disposer d'une application qui sera accessible depuis n'importe quel navigateur sur n'importe quel appareil. </p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="image img-column">
          <img src="assets/img/services.jpg" class="img"/>

        </div>
      </div>
    </div>
  </div>
</div>


<!--contact section-->
<div class="contact" id="contact">
  <div class="container">
    <h2 class="special">Contact</h2>
    <div class="info">
      <p class="label">N'hésitez pas à nous laisser un méssage à:</p>
      <a href="mailto:ZSteam@gmail.com?subject=contact" class="link">ZSteam@gmail.com</a>
      <div class="social">
        Retrouvez-nous sur les réseaux sociaux :
        <a href=""><img src="https://img.icons8.com/metro/26/000000/facebook-new--v2.png" class="image"/></a>
        <a href=""><img src="https://img.icons8.com/android/24/000000/twitter.png" class="image"/></a>
        <a href=""><img src="https://img.icons8.com/material-rounded/24/000000/gmail-new.png" class="image"/></a>
        <a href=""><img src="https://img.icons8.com/android/24/000000/linkedin.png" class="image"/> </a>
      </div>
    </div>
  </div>
</div>
<!--footer section-->
<div class="footer">
  &copy; 2021 <span>ZS Events</span> All Right Reserved
  <img src="favicon.ico" alt="eror">
</div>

</body>
