<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZS Events uper - Creative & Minimal Agency</title>
  <link rel="shortout icon" type="image/x-icon" href="Logo.jpg"/>

  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
  <div class="container">
    <a href="#home"><img src="Logo.jpg" class="logo" alt="logos"></a>
    <div class="links">
      <ul>

        <li><a href="#about" class="navbar__links" >A propos</a></li>
        <li><a href="#Services" class="navbar__links" >Sérvices</a></li>
        <li><a href="#contact" class="navbar__links" >Contact</a></li>
        <a><button routerLink="login" class="login">Login</button></a>
      </ul>
    </div>
  </div>
</div>
<!--Landing Page-->
<div class="landing" id="home">
  <div class="intro">
    <h1>Bonjour</h1>
    <p>Nous sommes ZS Events - Agence Super Créative & Minimale</p>
    <a ><button routerLink="login" class="login">  Login / Sign Up  </button></a>

  </div>
</div>
<!--About section-->
<div class="about" id="about">
  <div class="container">
    <br>
    <h2 class="special">A propos</h2>
    <div class="about-content">
      <div class="image">
      </div>
      <div class="text">
        <p>Lorem ipsume dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora velit cum non, fuga vitae architecto delectus sed maxime rerum impedit aliquam obcaecati, aut excepturi iusto laudantium!</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, sapiente. Velit iure exercitationem dolores nesciunt dolore. Eum officiis dolorum hic voluptate quaerat minima, similique inventore esse, alias, sed quo officia?</p>
      </div>
    </div>
  </div>
</div>
<!--Services section-->
<div class="services" id="Services">
  <div class="container">
    <br>    <br>
    <h2 class="special">Sérvices</h2>
    <div class="service-content grid-3">
      <div class="col">
        <div class="service">
          <img src="https://img.icons8.com/nolan/24/administrative-tools.png" class="img"/>
          <div class="text">
            <h3>Sérvice 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora velit cum non.</p>
          </div>
        </div>
        <div class="service">
          <img src="https://img.icons8.com/android/32/4a90e2/services.png" class="img"/>
          <div class="text">
            <h3>Sérvice 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora velit cum non.</p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="service">
          <img src="https://img.icons8.com/windows/24/4a90e2/tips-2.png" class="img"/>
          <div class="text">
            <h3>Sérvice 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora velit cum non.</p>

          </div>
        </div>
        <div class="service">
          <img class="img " src="https://img.icons8.com/material-rounded/24/4a90e2/service.png"/>
          <div class="text">
            <h3>Sérvice 4</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora velit cum non.</p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="image img-column">
          <img src="about2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


<!--contact section-->
<div class="contact" id="contact">
  <div class="container">
    <h2 class="special">Contact</h2>
    <div class="info">
      <p class="label">N'hésitez pas à nous laisser un méssage à:</p>
      <a href="mailto:************@gmail.com?subject=contact" class="link">*************@gmail.com</a>
      <div class="social">
        Retrouvez-nous sur les réseaux sociaux :
        <a href=""><img src="https://img.icons8.com/metro/26/000000/facebook-new--v2.png" class="image"/></a>
        <a href=""><img src="https://img.icons8.com/android/24/000000/twitter.png" class="image"/></a>
        <a href=""><img src="https://img.icons8.com/material-rounded/24/000000/gmail-new.png" class="image"/></a>
        <a href=""><img src="https://img.icons8.com/android/24/000000/linkedin.png" class="image"/> </a>
      </div>
    </div>
  </div>
</div>
<!--footer section-->
<div class="footer">
  &copy; 2021 <span>ZS Events</span> All Right Reserved
</div>

</body>
