
<nav class="blend">
  <ul>
    <li role="presentation" class="active"><a routerLink="/comptablesecondcomp" routerLinkActive="active">Home</a></li>
    <li role="presentation" class="active"><a routerLink="paimentsavecomptable" routerLinkActive="active" >Créer Paiement</a></li>
    <li role="presentation" class="active"><a routerLink="paiementlistcomptable" routerLinkActive="active" (click)="findpaiements2pourcomptable()">Liste Des Paiments</a></li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>



