#titre{
  background-color: #515ced;

}
.card{
  padding: 0px;
  border-color: #515ced ;

}
h2{
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  color: #FFFFFF;
  padding: 5px;
}
u{
  font-size: 30px;

}
#totalCredit{
  color: #f31427;
  height: 50px;
  width: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}
#totalDebit{
  color: green;
  height: 50px;
  width: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}
