<div class="card">
  <div class="card-header">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="form-group col-md-2 ">
            <label >Reference Societe</label>
            <input type="text" class="form-control h-75" [(ngModel)]="facturevo.reference"  >
          </div>
          <div class="form-group col-md-2 ">
            <label >DateMin</label>
            <input type="date" class="form-control h-75" [(ngModel)]="facturevo.dmin"  >
          </div>
          <div class="form-group col-md-2 ">

            <label>DateMax</label>
            <input type="date" class="form-control h-75" [(ngModel)]="facturevo.dmax" >
          </div>

          <div class=" col-md-2   ">
            <label class="h-25"></label>

            <button h class="btn btn-outline-info btn-block h-50" (click)="JournalAdmine()">search</button>
          </div>
          <div class=" col-md-2   ">
            <label class="h-25"></label>
            <button class="btn btn-outline-download btn-block" [disabled]="!etat2" (click)="downloadAsPDF()"><i class="fa fa-download"></i> imprimer</button>
          </div>
        </div>


      </div>
    </div>

  </div>
  <div class="card-body">
    <div >
      <div class="card">

        <div class="card-header" id="titre">
          <h2>JOURNAL DE <strong>{{facturevo.reference}}</strong> DU: <u>{{facturevo.dmax}}</u> AU <u>{{facturevo.dmin}}</u> </h2>
        </div>
        <div class="card-body">

          <table class="table table-hover table-striped">
            <thead>
            <th>Date</th>
            <th>Réference</th>
            <th>libelle</th>
            <th>CRÉDIT</th>
            <th>DÉBIT</th>




            </thead>
            <tbody>
            <tr *ngFor="let c of facturesJournal ">
              <td>{{c.dateOperation}}</td>
              <td>{{c.ref}}</td>
              <td>{{c.libelle}}</td>
              <td>{{c.credit}}</td>
              <td>{{c.debit}}</td>


            </tr>


            <td></td>
            <td></td>
            <td></td>
            <td > <div  id="totalCredit">{{Sommes.totalcredit}} DH</div></td>
            <td > <div  id="totalDebit">{{Sommes.totaldebit}} DH</div></td>


            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div  id="pdfTable" #pdfTable  hidden>
      <div class="card">

        <div class="card-header" >
          <h2>JOURNAL DE <strong>{{facturevo.reference}}</strong> DU: <u>{{facturevo.dmax}}</u> AU <u>{{facturevo.dmin}}</u> </h2>
        </div>
        <div class="card-body">

          <table class="table table-hover table-striped ">
            <thead>
            <th>Date D'opération</th>
            <th>Réference Facture</th>
            <th>libélle</th>
            <th>CRÉDIT</th>
            <th>DÉBIT</th>





            </thead>
            <tbody>
            <tr *ngFor="let c of facturesJournal ">
              <td>{{c.dateOperation}}</td>
              <td>{{c.ref}}</td>
              <td>{{c.libelle}}</td>
              <td>{{c.credit}}</td>
              <td>{{c.debit}}</td>



            </tr>




            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">

    </div>




  </div>



</div>




