
<div class="card-deck container big" [hidden]="!etat">
  <div class="row">
    <div class="card col-md-4">

      <div class="card-body"  (click)="change1() " (click)="trouveretapes()" >
        <h1 class="card-title text-center">Déclaration par mois</h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1>2000DH</h1>
      </div>
    </div>



    <div class="card col-md-4" >

      <div class="card-body"  (click)="change2() " (click)="trouveretapes()">
        <h1 class="card-title text-center">Déclaration par trimestre</h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1>4500DH</h1>
      </div>
    </div>




    <div class="card col-md-4" >

      <div class="card-body"  (click)="change3() " (click)="trouveretapes()">
        <h1 class="card-title text-center">Déclaration par an</h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1>9000DH</h1>
      </div>
    </div>
  </div>
</div>
<div [hidden]="etat">
  <div><app-operation-create></app-operation-create></div>
</div>


