<h1>types des operations </h1>
<div class="card-deck container big">
  <div class="row">
    <div class="card col-md-4 card__front">

      <div class="card-body" >
        <h1 class="card-title text-center">cretion d'une societe</h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>



    <div class="card col-md-4" >

      <div class="card-body" >
        <h1 class="card-title text-center"></h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>




    <div class="card col-md-4" >

      <div class="card-body">
        <h1 class="card-title text-center"></h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="card col-md-4">

      <div class="card-body">
        <h1 class="card-title text-center"></h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>



    <div class="card col-md-4" >

      <div class="card-body">
        <h1 class="card-title text-center"></h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>


    <div class="card col-md-4" >

      <div class="card-body">
        <h1 class="card-title text-center"></h1>
        <p class="card-text text-center" > </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>
  </div>
</div>


