
<div class="card-deck container big" [hidden]="!etat">
  <div class="row">
    <div class="card col-md-4 card__front">

      <div class="card-body"  (click)="change1() " (click)="trouveretapes()" >
        <h1 class="card-title text-center">T1</h1>
        <p class="card-text text-center"></p>
      </div>
    </div>



    <div class="card col-md-4" >

      <div class="card-body"  (click)="change2() " (click)="trouveretapes()">
        <h1 class="card-title text-center">T2</h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>




    <div class="card col-md-4" >

      <div class="card-body"  (click)="change3() " (click)="trouveretapes()">
        <h1 class="card-title text-center">T3</h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="card col-md-4">

      <div class="card-body"  (click)="change4() " (click)="trouveretapes()">
        <h1 class="card-title text-center">T4</h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>



    <div class="card col-md-4" >

      <div class="card-body"  (click)="change5() " (click)="trouveretapes()">
        <h1 class="card-title text-center">T5</h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>


    <div class="card col-md-4" >

      <div class="card-body"  (click)="change6() " (click)="trouveretapes()">
        <h1 class="card-title text-center">T6</h1>
        <p class="card-text text-center" > </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>
  </div>
</div>
<div [hidden]="etat">
  <div><app-operation-create></app-operation-create></div>
</div>


