h2{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: #4950C3;


}
label{
  font-size: 25px;
  font-weight: normal;
  color: #000000;


}
.card{
  border-color: #1976d2;

}
input{
  border-color: #44BCDD;
}

.card-header{
  background-color: deepskyblue;

}
.card{
  padding: 0px;
}
