<div class="d-flex flex-row bd-highlight hihi">
<nav class="blend">
  <ul>
    <li role="presentation" class="active"><a routerLink="/secondcomp" routerLinkActive="active">Home</a></li>
    <li role="presentation" class="active"><a routerLink="declsave" routerLinkActive="active" >Déclaration TVA</a></li>
    <li role="presentation" class="active"><a routerLink="declcriteria" routerLinkActive="active">Chercher une Declaration</a></li>
  </ul>
</nav>
  <img class="hihi" width="100px" height="100px" src="https://i.ibb.co/Dft1Nb9/photo.png" alt="">
  <h4 class="hoho">{{connection3.username}}</h4>
</div>
<div>
  <router-outlet></router-outlet>
</div>
