

.card{
  padding: 2px;
  border: 2px solid #4950C3;
  margin-left: 60px;
}
h2{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: #4950C3;
}

.row{
  margin-top: 40px;
}
.card-body{
  text-align: center;
}
.button{
  bottom: 0;
  left: 0;
}
.kok{
  align-items: center;
  justify-content: center;
}
