<div class="card container">
  <div class="card-header  ">
    <h2>Creation d'une operation societe</h2>
  </div>

  <div class="card-body ">
    <div class="row">
      <div class="form-group col-md-5 m-md-3">
        <label>Reference</label>
        <input type="text" class="form-control" [(ngModel)]="operationSociete.ref" >
      </div>

      <div class="form-group col-md-5 m-md-3">
        <label>Libelle</label>
        <input type="text" class="form-control" [(ngModel)]="operationSociete.libelle">
      </div>

      <div class="form-group col-md-5 m-md-3">
        <label>DateOperation societe</label>
        <input type="date" class="form-control" [(ngModel)]="operationSociete.dateOperationSociete">
      </div>
      <div class="form-group col-md-5 m-md-3">
        <label>Societe </label>
        <input type="text" class="form-control" [(ngModel)]="operationSociete.societe.ice">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4  ">
        <input name="1" class="m-md-4" type="radio"  value="T1" [(ngModel)]="operationSociete.typeOperation.libelle">
        <label>creatio societe</label>
      </div>
      <div class="form-group col-md-4  ">
        <input name="1" class="m-md-4" type="radio" value="T1" [(ngModel)]="operationSociete.typeOperation.libelle">
        <label>declarationtva</label>
      </div>
      <div class="form-group col-md-4  ">
        <input name="1" class="m-md-4" type="radio"  value="T1" [(ngModel)]="operationSociete.typeOperation.libelle">
        <label>declarationIR</label>
      </div>

    </div>


    <div class="card-footer">
      <button class="btn btn-outline-success btn-block" (click)="save()"><i class="fa fa-send"></i>save</button>

    </div>

  </div>
</div>
<div class="card container-fluid">
  <div class="card-header">
    <h2>liste des etapes</h2>
  </div>
  <div class="card-body">
    <table class="table table-hover table-striped">
      <thead>
      <th>libelle</th>
      <th>description</th>
      <th>montantfix</th>
      <th>montantcomptable</th>
      <th>tva</th>
       </thead>
      <tbody>
      <tr *ngFor="let c of factures; index as i ">
        <td>{{c.ref}}</td>
        <td>{{c.societeSource.ice}}</td>
        <td>{{c.societeDistination.ice}}</td>
        <td>{{c.libelle}} </td>
        <td>{{c.montantHorsTaxe}}<i>DH</i></td>
        <td>{{c.tva.valeur}}<i>%</i></td>
        <td>{{c.montantTVA}}<i>DH</i></td>
        <td>{{c.montantTTC}}<i>DH</i></td>
        <td>{{c.annee}}</td>
        <td>{{c.mois}}</td>
        <td>{{c.trim}}</td>
        <td>{{c.typeOperation}}</td>
        <td>{{c.classComptable.numero}}</td>
        <td><span (click)="delete(c)"><i class="fa fa-trash btn btn-danger"></i></span>
          <span (click)="updateFront(i,c)" (click)="triggerModal(modalData)" ><i class="fa fa-edit btn btn-dark"></i></span></td>


      </tr>
      </tbody>

    </table>
  </div>
</div>
