


<div class="card-deck container big" >
  <div class="row">
    <div class="card col-md-4 card__front">

      <div class="card-body" routerLink="/facture" >
        <h1 class="card-title text-center">Facture</h1>
        <p class="card-text text-center"></p>
      </div>
    </div>



    <div class="card col-md-4" >

      <div class="card-body" routerLink="/daclarationtva">
        <h1 class="card-title text-center">Declaration TVA</h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>




    <div class="card col-md-4" >

      <div class="card-body" routerLink="/operationsociete" >
        <h1 class="card-title text-center">Operation Societe</h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>
  </div>
</div>



