


<div class="card-deck container big" >
  <div class="row">
    <div class="card col-md-4 card__front">

      <div class="card-body" routerLink="/facturechoicecomptable" >
        <h1 class="card-title text-center">Facturation</h1>
        <p class="card-text text-center"></p>
      </div>
    </div>



    <div class="card col-md-4" >

      <div class="card-body" routerLink="/declarationtvacomptable">
        <h1 class="card-title text-center">Declaration TVA</h1>
        <p class="card-text text-center"></p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>




    <div class="card col-md-4" >

      <div class="card-body" routerLink="/paiementchoice" >
        <h1 class="card-title text-center">Paiement</h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>

    <div class="card col-md-4" >

      <div class="card-body" routerLink="/operationsociete" >
        <h1 class="card-title text-center">Piéces Justif</h1>
        <p class="card-text text-center"> </p>
      </div>
      <div class="card-footer text-center">
        <h1></h1>
      </div>
    </div>

  </div>
</div>



