

<nav class="blend">
  <ul>
    <li role="presentation" class="active"><a routerLink="/secondcomp" routerLinkActive="active">Home</a></li>
    <li role="presentation" class="active"><a routerLink="facturecreate" routerLinkActive="active" >Créer une Facture</a></li>
    <li role="presentation" class="active"><a routerLink="facturelist" routerLinkActive="active">Liste des Factures</a></li>
    <li role="presentation" class="active"><a routerLink="facturejournal" routerLinkActive="active">Journal</a></li>
    <li role="presentation" class="active"><a routerLink="facturecriteria" routerLinkActive="active">Chercher</a></li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
