
<nav class="navbar ">
  <div class="navbar__container">
    <a href="#home" id="navbar__logo">ZS Events</a>

    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="#home" class="navbar__links" routerLink="/comptablesecondcomp" routerLinkActive="active">Home</a>
      </li>
      <li class="navbar__item">
        <a href="#about" class="navbar__links" routerLink="decltvasavecomptable" routerLinkActive="active" >Déclaration TVA</a>
      </li>

      <li class="navbar__item">
        <a href="#service" class="navbar__links mr" routerLink="decltvacriteriacomptable" routerLinkActive="active">Chercher une Declaration</a>
      </li>


    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>


