
<div class="card container mt-4">
  <div class="card-header">
    <div class="row">
      <div class="form-group col-md-2 ">

        <label>Type d'operation</label><br>
        <select class="w-100 h-75 mt-md-2 " [(ngModel)]="facturevo.typOperation">
          <option   >CRÉDIT</option>
          <option  >DÉBIT</option>
          <option  >All</option>
        </select>
      </div>
      <div class=" col-md-2   ">

        <label>Reference</label>
      <input class="mt-2 h-50"  type="text" [(ngModel)]="facturevo.refSocieteSource">
      </div>

      <div class=" col-md-2   ">

        <label></label><br>
        <button  class="btn btn-outline-info btn-block mt-3 h-50" (click)="CriteriaAdmine()">search</button>
      </div>
      <div class=" col-md-2   ">
        <label ></label>
        <button class="btn btn-outline-download btn-block mt-3 h-50" (click)="downloadAsPDF()" ><i class="fa fa-download"></i> imprimer</button>
      </div>
    </div>

  </div>
  <div class="card-body" >
    <h2>liste des factures</h2>
    <table class="table table-hover table-striped">
      <thead>
      <th>Ref</th>
      <th>libelle</th>
      <th>Societe Source</th>
      <th>Societe Distination</th>
      <th>tva</th>
      <th>Montant TTC</th>
      <th>Annee</th>
      <th>mois</th>
      <th>trim</th>
      <th>Type Operation</th>
      <th>action</th>



      </thead>
      <tbody>
      <tr *ngFor="let c of factures |paginate: {id:'listvente',itemsPerPage: pageSize, currentPage:page, totalItems:factures.length }; index as i ">
        <td>{{c.ref}}</td>
        <td>{{c.libelle}} </td>
        <td>{{c.societeSource.ice}}</td>
        <td>{{c.societeDistination.ice}}</td>
        <td>{{c.tva.valeur}}<i>%</i></td>
        <td>{{c.montantTTC}}<i>DH</i></td>
        <td>{{c.annee}}</td>
        <td>{{c.mois}}</td>
        <td>{{c.trim}}</td>
        <td>{{c.typeOperation}}</td>
        <td><span (click)="delete(c)"><i class="fa fa-trash btn btn-danger"></i></span>
          <span  (click)="updateFront(i,c)" (click)="triggerModal(modalData)" ><i class="fa fa-edit btn btn-outline-info"></i></span></td>


      </tr>
      </tbody>

    </table>
    <div>
      <pagination-controls id="listvente" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
    </div>
  </div>
</div>

<div class="card-body" id="pdfTable" #pdfTable hidden>
  <h2>liste des factures</h2>
  <table class="table table-hover table-striped">
    <thead>
    <th>Ref</th>
    <th>Societe Source</th>
    <th>Societe Distination</th>
    <th>tva</th>
    <th>Montant TTC</th>
    <th>Annee</th>
    <th>trim</th>
    <th>Type Operation</th>
    <th>comptable</th>

    </thead>
    <tbody>
    <tr *ngFor="let c of factures  ; index as i ">

    <td>{{c.ref}}</td>
      <td>{{c.societeSource.ice}}</td>
      <td>{{c.societeDistination.ice}}</td>
      <td>{{c.tva.valeur}}<i>%</i></td>
      <td>{{c.montantTTC}}<i>DH</i></td>
      <td>{{c.annee}}</td>
      <td>{{c.trim}}</td>
      <td>{{c.typeOperation}}</td>
      <td>{{c.classComptable.numero}}</td>


    </tr>
    </tbody>

  </table>

</div>


  <ng-template #modalData let-modal  >

    <div class="modal-body " >
      <div class="card container" >

          <h2 >update d'une facture</h2>

        <div class="card-body " >
          <div class="row">
            <div class="form-group col-md-4 " >
              <label>Reference</label>
              <input [disabled]="etat" type="text" class="form-control d" [(ngModel)]="facture.ref" >
            </div>

            <div class="form-group col-md-4 ">
              <label>Libelle</label>
              <input type="text" class="form-control" [(ngModel)]="facture.libelle"  >
            </div>

            <div class="form-group col-md-4 ">
              <label>montantHorsTaxe</label>
              <input type="number" class="form-control"  [(ngModel)]="facture.montantHorsTaxe">
            </div>
            <div class="form-group col-md-4  ">
              <label>class comptable</label>
              <input type="text" class="form-control" [(ngModel)]="facture.classComptable.numero"  >
            </div>
            <div class="form-group col-md-4 ">
              <label>tva</label>
              <input type="text" class="form-control" [(ngModel)]="facture.tva.ref" >
            </div>
            <div class="form-group col-md-4 ">
              <label>Societe Source</label>
              <input type="text" class="form-control" [(ngModel)]="facture.societeSource.ice" >
            </div>
            <div class="form-group col-md-4 ">
              <label>Societe Dis</label>
              <input type="text" class="form-control"[(ngModel)]="facture.societeDistination.ice"  >
            </div>
            <div class="form-group col-md-4 ">
              <label>Etat Facture</label>
              <input type="text" class="form-control" [(ngModel)]="facture.etatFacture.code" >
            </div>
            <div class="form-group col-md-4 ">
              <label>Etat Paiment</label>
              <input type="text" class="form-control" [(ngModel)]="facture.etatPaiement.code" >
            </div>
            <div class="form-group col-md-6 ">
              <label>DateOperation</label>
              <input type="date" class="form-control" [(ngModel)]="facture.dateOperation"  >
            </div>
            <div class="form-group col-md-6  ">
              <label>type d'Operation</label><br>
              <select class="w-100 h-50 " [(ngModel)]="facture.typeOperation">
                <option  >CRÉDIT</option>
                <option  >DÉBIT</option>
              </select>
            </div>


              <button class="btn btn-outline-warning btn-block col-md-12"   (click)="updatBackend()" > <i class="fa fa-refresh "></i> Update</button>






          </div>

        </div>



      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>




