<nav class="navbar">
  <div class="navbar__container">
    <a href="#home" id="navbar__logo">ZS Events</a>
    <a href="#home" class="navbar__links" routerLink="/secondcomp" >Home</a>


      <ul class="navbar__menu">

        <li class="navbar__item">
          <a  class="navbar__links" id="home-page">{{connection3.username}}</a>
        </li>
        <li class="navbar__btn">
          <a  class="button right">
            <i class="bi bi-person-circle icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            </i>
          </a>
          <a  class="button right">
            <i class="bi bi-bell-fill">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" fill="black" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              </svg>
            </i>
          </a>
          <a routerLink="/login" class="logout ">
            <i class="bi bi-box-arrow-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" fill="black" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </i>
          </a>

        </li>
      </ul>
  </div>
</nav>
<div class="container">
<div class="row">
  <div class="card col-md-12">
    <h1>AFFECTER COMPTABLE:</h1>
    <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
          <th scope="col">Reference</th>
          <th scope="col">Libelle</th>
          <th scope="col">Fraix Fix</th>
          <th scope="col">Fraix Comptable</th>
          <th scope="col">Date Operation</th>
          <th scope="col">Type Operation</th>
          <th scope="col">Societe</th>
          <th scope="col">Comptable Traiteur</th>
          <th scope="col">Comptable Validateur</th>
          </thead>
          <tbody>
          <tr *ngFor="let l of listeOperation |paginate: {id:'listvente',itemsPerPage: pageSize2, currentPage:page2, totalItems:listeOperation.length }; index as i;">
            <td scope="row">{{l.ref}}</td>
            <td>{{l.libelle}}</td>
            <td>{{l.fraixFix}}</td>
            <td>{{l.fraixComptable}}</td>
            <td>{{l.dateOperationSociete}}</td>
            <td>{{l.typeOperation.libelle}}</td>
            <td>{{l.societe.ice}}</td>
            <td>
              <span (click)="popupComptableTraiteur(l)"><button class="btn btn-info w-25 ml-5" >+</button></span>
            </td>
            <td>
              <span (click)="popupComptableValidateur(l)"><button class="btn btn-info w-25 ml-5" >+</button></span>
            </td>
          </tr>
          </tbody>
        </table>
        <div>
          <pagination-controls id="listvente" maxSize="5" directionLinks="true" (pageChange)="page2=$event"></pagination-controls>
        </div>
      </div>

</div>
</div>
</div>
