<body>
<nav class="navbar">
  <div class="navbar__container">
    <a href="#home" id="navbar__logo">ZS Events</a>

    <ul class="navbar__menu">
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a  class="navbar__links" id="home-page" routerLink="/firstSociete" routerLinkActive="active">Acceuil</a>

        </li> <li class="navbar__item">

        <a  class="navbar__links" id="home-page" routerLink="/cardtypeoperation" routerLinkActive="active">Créer Operation</a>


      </li> <li class="navbar__item">
        <a class="navbar__links" id="home-page" routerLink="/facturecriteriaSociete" routerLinkActive="active">Facture</a>


      </li> <li class="navbar__item">
        <a  class="navbar__links" id="home-page" routerLink="/decltvalistsociete" routerLinkActive="active">Declaration TVA</a>

      </li>
        <li class="navbar__item">
          <a class="navbar__links" id="home-page" routerLinkActive="active">Peice Justif</a>

        </li>
        <li class="navbar__btn margin">
          <a   class="navbar__links user">{{connection3.username}}</a>
        </li>
        <li class="navbar__btn ml-5" >
          <a class="button right ">
            <i class="bi bi-person-circle ">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            </i>
          </a>
          <a routerLink="/login" class="logout ml-3">
            <i class="bi bi-box-arrow-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </i>
          </a>

        </li>
      </ul>
    </ul>
  </div>
</nav>

<div class="card container">
  <h2 style="font-weight: bold">Rechercher</h2>
  <hr>
        <div class="row">
          <label class="label mr-4 ml-2">Type d'operation:</label>
          <div class="form-group">


            <select class="select  mt-md-2 " [(ngModel)]="facturevo.typOperation">
              <option   >CRÉDIT</option>
              <option  >DÉBIT</option>
              <option  >All</option>
            </select>
          </div>

          <div class=" col-md-2 ">
            <button  class="btn btn-outline-info btn-block ml-5 select mt-2" (click)="Criteria()">search</button>
          </div>
          <div class=" col-md-2  ml-5 ">
            <button class="btn btn-outline-download imprimer w-75 mt-2 mr-5 ml-5"  (click)="downloadAsPDF()">imprimer</button>
          </div>
        </div>
  <div class="card-body">
    <div  >
      <div class="card-header" id="titre" >
        <h2 class="mt-5">Listes des factures de la societe <i>{{connection3.societeLogin.ice}}</i></h2>
      </div>
      <div class="card-body">
        <table class="table table-hover table-striped">
          <thead>
          <th>Ref</th>
          <th>Societe Source</th>
          <th>Societe Distination</th>
          <th>libelle</th>
          <th>MHT</th>
          <th>tva</th>
          <th>MTVA</th>
          <th>MTTC</th>
          <th>Annee</th>
          <th>mois</th>
          <th>trim</th>
          <th>Operation</th>
          <th>comptable</th>




          </thead>
          <tbody>
          <tr *ngFor="let c of facturescriteria; index as i ">
            <td>{{c.ref}}</td>
            <td>{{c.societeSource.ice}}</td>
            <td>{{c.societeDistination.ice}}</td>
            <td>{{c.libelle}}</td>
            <td>{{c.montantHorsTaxe}}<i>DH</i></td>
            <td>{{c.tva.valeur}}<i>%</i></td>
            <td>{{c.montantTVA}}<i>DH</i></td>
            <td>{{c.montantTTC}}<i>H</i></td>
            <td>{{c.annee}}</td>
            <td>{{c.mois}}</td>
            <td>{{c.trim}}</td>
            <td>{{c.typeOperation}}</td>
            <td>{{c.classComptable.numero}}</td>

          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>




</body>
<div  id="pdfTable" #pdfTable hidden>
  <div class="card-header"  >
    <h2 class="mt-5">Listes des factures de la societe <i>{{connection3.societeLogin.ice}}</i></h2>
  </div>
  <div class="card-body">
    <table class="table table-hover table-striped">
      <thead>
      <th>Ref</th>
      <th>Societe Source</th>
      <th>Societe Distination</th>
      <th>libelle</th>
      <th>MHT</th>
      <th>tva</th>
      <th>MTTC</th>
      <th>Annee</th>
      <th>mois</th>
      <th>trim</th>
      <th>Operation</th>




      </thead>
      <tbody>
      <tr *ngFor="let c of facturescriteria; index as i ">
        <td>{{c.ref}}</td>
        <td>{{c.societeSource.ice}}</td>
        <td>{{c.societeDistination.ice}}</td>
        <td>{{c.libelle}}</td>
        <td>{{c.montantHorsTaxe}}<i> DH</i></td>
        <td>{{c.tva.valeur}}<i>%</i></td>
        <td>{{c.montantTTC}}<i> DH</i></td>
        <td>{{c.annee}}</td>
        <td>{{c.mois}}</td>
        <td>{{c.trim}}</td>
        <td>{{c.typeOperation}}</td>

      </tr>
      </tbody>

    </table>
  </div>
</div>
