<div class="d-flex flex-row bd-highlight">
  <img width="90px" src="https://i.ibb.co/Dft1Nb9/photo.png" alt="">
<h2>{{connection3.username}}</h2>
  <nav [hidden]="etat" >
    <div class="bigbog" >
      <ul >
        <li><a routerLink="/firstSociete" routerLinkActive="active">Acceuil</a></li>
        <li><a routerLink="/newOperation2" routerLinkActive="active">Créer Operation</a>
        </li>
        <li ><a >Facture</a>
          <ul class="BoxMenu" >
            <li><a routerLink="/facturecriteriaSociete" routerLinkActive="active">Facture List</a></li>
            <li><a routerLink="/journal" routerLinkActive="active"> Journal</a></li>

          </ul>
        </li>
        <li><a >Declaration TVA</a>
        </li>
        <li><a >Peice Justif</a>
          <ul class="BoxMenu" >
            <li><a >create</a></li>
            <li><a >Liste</a></li>

          </ul>
        </li>


      </ul>
    </div>
  </nav>
<div>
  <router-outlet></router-outlet>
</div>
</div>

<div [hidden]="etat" >



  <div class="card container ">
  <div class="card-header  ">
    <!--<h2>liste des operation du societe <i>{{connection3.societeLogin.ice}}</i></h2> -->
 <h2 *ngIf="connection3.societeLogin != null">liste des operation de la societe <i>{{connection3.societeLogin.ice}}</i></h2>
    <div class="form-group ">
      <div class="card-body ">
        <table class="table table-hover table-striped">
          <thead>
          <th>reference</th>
          <th>Libelle</th>
          <th>Ice</th>
          <th>Fraix Fix</th>
          <th>Fraix comptable</th>
          <th>Action</th>
          </thead>
          <tbody>
          <tr *ngFor="let c of operationsse ; index as i ">
            <td>{{c.ref}}</td>
            <td>{{c.libelle}}</td>
            <td>{{c.societe.ice}}</td>
            <td>{{c.fraixFix}} DH</td>
            <td>{{c.fraixComptable}} DH</td>
            <td><span (click)="triggerModal(modalData)" (click)="trouverPaiement(c)"><i
              class="fa fa-eye btn btn-outline-info"></i></span>
            </td>
          </tr>
          </tbody>

        </table>


      </div>

    </div>
    </div>
    </div>
    </div>
<ng-template #modalData let-modal>
  <h3>liste des paiement de l'operation </h3>

  <table class="table table-hover table-striped">

    <thead>
    <th>reference</th>
    <th>Date</th>
    <th>Montant</th>
    <th>Operation</th>
    </thead>
    <tbody>
    <tr *ngFor="let c of paiementes ; index as i ">
      <td>{{c.ref}}</td>
      <td>{{c.datePaiement}}</td>
      <td>{{c.montant}} DH</td>
      <td>{{c.operationSociete.ref}}</td>

    </tr>
    </tbody>

  </table>


  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

    <div class="card container" [hidden]="!etat">
      <div class="card-header  ">
        <h2>creation d'une Societe</h2>
      </div>

      <div class="card-body ">
        <div class="row">
          <div class="form-group col-md-5 m-md-3">
            <label>Ice</label>
            <input [(ngModel)]="societe.ice" type="text" class="form-control">
          </div>

          <div class="form-group col-md-5 m-md-3">
            <label>Adresse</label>
            <input [(ngModel)]="societe.adresse" type="text" class="form-control">
          </div>

          <div class="form-group col-md-5 m-md-3">
            <label>Raison Social</label>
            <input [(ngModel)]="societe.raisonSociale" type="text" class="form-control">
          </div>
          <div class="form-group col-md-5 m-md-3">
            <label>Datecreation</label>
            <input [(ngModel)]="societe.dateCreation" type="date" class="form-control">
          </div>
          <div class="form-group col-md-5 m-md-3 ">
            <label>anne exploitation</label>
            <input [(ngModel)]="societe.anneeExploitation" type="number" class="form-control">
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-outline-success btn-block" (click)="save2()"><i class="fa fa-send"></i>save
        </button>

      </div>

    </div>
